body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /* w3c */
}

.f1 {
  text-align: center;
}

.search {
  text-align: center;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background: linear-gradient(#f3efa4 10%, #2d8692 90%);
  margin: 20px 20px 20px 20px;
  text-align: center;
  color: rgb(246, 239, 198);
}
